In [9]:
e = 23
print(e)

23

## python is case senitive

In [11]:
G = 34
print(g)

NameError: name 'g' is not defined

In [12]:
L = "Hello world"
L

'Hello world'

In [13]:
b = 134 + 123
print(b)

257

# deep in print condition

comma (,) are separted by one space

In [1]:
age = 23
print("my age is:",age)

my age is: 23

+  not given space

In [4]:
age = 23
print("my age is:"+str(age))

my age is:23