# function

In [6]:
def greatfruites(fruit):
    fruit[0] == 'Apple'
    print(fruit[0])

In [7]:
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
greatfruites(fruit)

Apple

# map fun

In [10]:
def greatfruites(fruit):
    return fruit[0] == 'A'

In [11]:
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
sol = map(greatfruites,fruit)
print(list(sol))

[True, False, False, True, False]

In [22]:
def fruity(x, y):
    return x +y

In [23]:
f1 = map(fruity,('apple ', 'banana ', 'cherry '), ('orange ', 'lemon ', 'pineapple '))
print(list(f1))

['apple orange ', 'banana lemon ', 'cherry pineapple ']

In [12]:
def fruity(a):
    return len(a)

In [13]:
a= 'apple', 'banana', 'cherry'
f = map(fruity,a)
print(list(f))

[5, 6, 6]

# num in map

In [14]:
def addition(numbers):
    return numbers + numbers

In [15]:
numbers = (1, 2, 3, 4)
sol = map(addition,numbers)
print(list(sol))

[2, 4, 6, 8]

In [8]:
def squnum(a):
    return a*a

In [9]:
a=[1,2,3,4,5,6]
sol = map(squnum,a)
print(list(sol))

[1, 4, 9, 16, 25, 36]

In [45]:
# find even num

def even_no(a):
    if a % 2 == 0:
        return a

In [46]:
a = [12]
sol2 = map(even_no,a)
print(list(sol2))

[12]

In [1]:
def multino(n):
    return n*3

In [2]:
givenNumbers = map(multino,[1, 3, 5, 2, 6, 10])
print(list(givenNumbers))

[3, 9, 15, 6, 18, 30]


# with range

In [47]:
def even(a):
    if a % 2==0:
        return a
    
sol3 = map(even,range(1,12))    
print(list(sol3))

[None, 2, None, 4, None, 6, None, 8, None, 10, None]

# giving values in list

In [62]:
values= []
for i in range(1,21):
    values.append(i)
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [67]:
def map_fun(num):
    if num%2==0:
        print("even",num)
    else:
        print("odd",num)

In [68]:
sol = map(map_fun,values)
print(list(sol))

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

# FILTER

In [23]:
def variable(sequence):
    letters=['a','e','i','o','u']
    if sequence in letters:
        return True
    else:
        return False

In [25]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
filtered = filter(variable,sequence)
print(list(filtered))

['e', 'e']

In [26]:
def even(numbers):
    if numbers %2==0:
        return True
    else:
        return False

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sol = filter(even,numbers)
print(list(sol))

[2, 4, 6, 8, 10]

In [5]:
def age(a):
    if a>=18:
        return a

In [6]:
inputList = [3, 20, 18, 6, 14, 25, 19]
so = filter(age,inputList)
print(list(so))

[20, 18, 25, 19]