In [5]:
def fun(x):
    print("hello")
    print("you passed",x)
fun(10)

hello
you passed 10

In [6]:
def num(x,y):
    if x>=y:
        if x % y == 0:
            print(x,"is divisible by",y)
        else:
            print(x,"is not divisible by",y)
    else:
        print("enter the first number is greater than  second numer ")

num(2,4)

enter the first number is greater than  second numer

In [7]:
num(4,2)

4 is divisible by 2

In [8]:
num(4,3)

4 is not divisible by 3

In [53]:
def display(name = "xyz"):
    print("My name is", name)

display()
display("kamal")

My name is xyz
My name is kamal

In [52]:
def display(name, age, country):
    print("My name is", name, "my age is", age, "and I live in", country)

display("ashu", 45,"Mysore")

My name is ashu my age is 45 and I live in Mysore

In [51]:
def display(name, age=9):
    print("My name is", name, "and my age is", age)

display("ashu")
display("ashu",28)

My name is ashu and my age is 9
My name is ashu and my age is 28

In [47]:
def display(name, age):
    print("My name is", name, "and my age is", age)

display("ashu", 28)

My name is ashu and my age is 28

In [48]:
def display(name, age=9):
    print("My name is", name, "and my age is", age)

display("ashu", 28)

My name is ashu and my age is 28

# reverse the number

In [9]:
def rev(a):
    c=[]
    i = len(a)-1
    while i>=0:
        c.append(a[i])
        i = i-1
    return c    

a = 2, 4, 6, 3, 5, 2, 6, 43
rev(a)

[43, 6, 2, 5, 3, 6, 4, 2]

In [10]:
result = rev(a)
print(result)

[43, 6, 2, 5, 3, 6, 4, 2]

# function inside a function

In [13]:
def is_even(x):
    if x%2 ==0:
        return True
    else:
        return False
def div(y):
    if y %3==0:
        return True
    else:
        return False
div(6)
is_even(9)

False

# recursion fun

In [45]:
def rec(x):
    if x == 0 or x == 1:
        return 1
    else:
        return x * rec(x-1)
rec(5)

120

In [46]:
rec(4)

24

# return with function

In [10]:
def add(a,b):
    value1 = a * a
    value2 = b * b
    return  value1 , value2

add(10,20)

(100, 400)

In [11]:
first,second = add(10,20)
print(first + second)

500

In [13]:
div = second / first
div

4.0

In [14]:
def my_fun(x):
    return x+x
my_fun(5)

10

In [16]:
a = my_fun(5)
print(a *a)

100

In [ ]:
# list of values

In [21]:
def use_case(a):
    count = 0
    count_3 = 0
    for i in a:
        if i % 2 == 0:
            count =count + i
    for j in a:
        if j % 3 == 0:
             count_3 = count_3 +j
    return(count,count_3)

In [23]:
a = [1,2,3,4,5,6,7,100,87,55,54,23,22,44]
use_case(a)

(232, 150)

In [25]:
# using return we can do specific operation from result value

In [24]:
sol1,sol2 = use_case(a)
print(sol1 + sol2)

382

# dictionary with function

In [32]:
def use_case(a):
    empty_dict={}
    for i in a:
        if i in empty_dict.keys():
            empty_dict[i] = empty_dict[i] +1
        else:
            empty_dict[i]=1
    return empty_dict

In [33]:
a = 'sai kamal'
use_case(a)

{'s': 1, 'a': 3, 'i': 1, ' ': 1, 'k': 1, 'm': 1, 'l': 1}

In [4]:
a = 'kavi kath'
use_case(a)

{'k': 2, 'a': 2, 'v': 1, 'i': 1, ' ': 1, 't': 1, 'h': 1}

In [4]:
def odd_no(n,m):
    for i in range(n,m):
        if i%3 == 0 and i%5 ==0:
            print(i)
        
odd_no(12,51)

15
30
45