# break

In [1]:
for i in range(1,11):
    print(i)
    if i == 7:
        break

1
2
3
4
5
6
7

In [2]:
for i in range(100):
    print(i)
    if i>=7:
        break
print("bye")

0
1
2
3
4
5
6
7
bye

In [3]:
for i in range(1,101):
    if i == 10:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [4]:
a = 1
while a > 0:
    print(a)
    if a == 10:
        break
    a+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
products = ["tea", "coffee", "milk"]
for a in products:
    print(a)
    
    if a == "coffee":
        break

tea
coffee

# Continue

In [8]:
products = ["tea", "coffee", "milk"]
for a in products:
    print(a)
    if a == 'coffee':
        continue

tea
coffee
milk

In [9]:
gadgets = ["mobile", "laptop", "battery"]
for x in gadgets:
    print(x)
    if x == "laptop":
        continue

mobile
laptop
battery

In [10]:
for n in range(1, 18):
    if n == 9:
        continue
    print(n)

1
2
3
4
5
6
7
8
10
11
12
13
14
15
16
17

In [ ]:
i = 0
while i < 6:
    if i == 3:
        continue
    print(i)
    i+= 1

0
1
2

# pass

In [1]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result=[]
for i in list1:
    if i in ' ':
        pass
    else:
        result.append(i)
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']