# LIST in FOR LOOP

In [1]:
# FOR LOOP IN LIST
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [76]:
list = ["geeks", "for", "geeks"]
for i in range(len(list)):
    print(i)

0
1
2

In [36]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for lists in list_of_lists:
    print(lists)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [37]:
# remove list []
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for lists in list_of_lists:
    for x in lists:
        print(x)

1
2
3
4
5
6
7
8
9

In [42]:
my_list=[1,2,3,4,5,6,7,8]

for asdf in my_list:
    print(asdf)

for num in my_list:
    print("python")

1
2
3
4
5
6
7
8
python
python
python
python
python
python
python
python

In [75]:
lists=[1,2,3,4,5,6]
list_sum=0
for num in lists:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21

In [3]:
# Return "orange" instead of "banana":

for i in range(len(fruits)):
    if fruits[i]=='banana':
        fruits[i]="orange"
print(fruits)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits[1]='orange'
fruits

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [2]:
list1 = [1, 2, 3, 4]
list2 = [1, 20, 30, 4]
result = []
for x in list1:
    for y in list2:
        if x==y:
            result.append(x)
print(result)

[1, 4]

In [8]:
# Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

# FOR LOOP IN STRING

In [3]:
# FOR LOOP IN STRING
for x in "banana":
    print(x)

b
a
n
a
n
a

# FOR LOOP RANGE

In [30]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [31]:
# end =' ' next line with space
for i in range(1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [41]:
n= 2
for i in range(1,10):
    print(i*2)

2
4
6
8
10
12
14
16
18

In [3]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [32]:
for i in range(1,10,3):
    print(i,end=" ")

1 4 7

In [39]:
# using len we gets answer in integer
course = 'python'
for i in range(len(course)):
    print(i)

0
1
2
3
4
5

In [6]:
# using len and index 
course = 'python'
for i in range(len(course)):
    print(course[i])

p
y
t
h
o
n

# start,stop,step

In [7]:
for x in range(30,1,-2):
    print(x)

30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [6]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [10]:
my_list=[(1,2,3),(4,5,6),(8,9,10)]
for a,b,c in my_list:
    print(c,b)

3 2
6 5
10 9

# for loop in tuple

In [7]:
# for loop in tuple
digits = (1,2,'python')
for i in digits:
    print(i)
else:
    print("no items")

1
2
python
no items

In [8]:
my_tuple=(1,2,3,4,5)
for i in my_tuple:
    print(i)

1
2
3
4
5

# nested loop

In [13]:
x = [1, 2]
y = [4, 5]
for i in x:
    for j in y:
        print(j)

4
5
4
5

In [16]:
x = [1, 2,3]
y = [4, 5]
for i in x:
    for j in y:
        print(i,j)

1 4
1 5
2 4
2 5
3 4
3 5

In [29]:
for i in'python':
    for j in 'java':
        print(i,j)

p j
p a
p v
p a
y j
y a
y v
y a
t j
t a
t v
t a
h j
h a
h v
h a
o j
o a
o v
o a
n j
n a
n v
n a

In [6]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# For loop with dictionaries

In [110]:
a={'ravi':10,'kamal':20,'hari':30}
for i,j in a.items():
    print(a[i])

10
20
30

In [46]:
my_dict={"k1":10,"k2":20,"k3":30}

for dicts in my_dict.keys():
    print(dicts)

k1
k2
k3

In [47]:
for dicts in my_dict.values():
    print(dicts)

10
20
30

In [48]:
for dicts in my_dict.items():
    print(dicts)

('k1', 10)
('k2', 20)
('k3', 30)

In [55]:
for dicts in my_dict.popitem():
    print(dicts)

k3
30

In [56]:
for dicts in my_dict.items():
    print(dicts)

('k1', 10)
('k2', 20)

In [77]:
for i,j in my_dict.items():
    print(i,j)

1 10
k2 20
k3 30

In [5]:
fruits = {'apple':100,'banana':45}
for i in fruits:
    fruits[i] =fruits[i]+20
print(fruits)

{'apple': 120, 'banana': 65}