1.Write a Python program to create an empty tuple.

In [21]:
mytuple = tuple() # tuple parathensis
print(mytuple)
print(type(mytuple))

# using len to find out ()
if len(mytuple)==0:
    print("empty tuple ")
else:
    print("not empty tuple")

()
<class 'tuple'>
empty tuple

2.Write a Python program to access the elements of a tuple.

In [27]:
name = ('leeminho',[100,200,300],'kookie','namjoon','yoongi','jhope','kookie') # access the elements 
print(name[1][2])
print(name.count('kookie'))
print(name.index('namjoon'))

300
2
3

3.Write a Python program to concatenate two tuples.

In [1]:
value1 =('apple','orange',11,13)
value2 =('grapes','watermelon',12,10)
print(value1 +value2 )# + operator will add 2 tuple values and concatenate it

('apple', 'orange', 11, 13, 'grapes', 'watermelon', 12, 10)

4: Write a Python program to convert a tuple into a list.

In [5]:
# tuple convert to list then use extend 
value1 =('apple','orange',11,13)
value2 =('grapes','watermelon',12,10)
value1 = list(value1) # coverting to list
value2 = list(value2)
value1.extend(value2)
print(value1)

['apple', 'orange', 11, 13, 'grapes', 'watermelon', 12, 10]

5.Write a Python program to find the length of a tuple.

In [4]:
value1 =('apple','orange',11,13,'mango')
print(len(value1))

5

6.Write a Python program to find the maximum and minimum elements in a tuple.

In [8]:
x = (212,321,110,123,453,787,332,656,444,502)
print(f'Maximun elements in tuple:{max(x)}')
print(f'Minimun elements in tuple:{min(x)}')

Maximun elements in tuple:787
Minimun elements in tuple:110

7.Write a Python program to check if an element exists in a tuple.

In [32]:
test_tuple = (10, 4, 5, 6, 8) 
print(10 in test_tuple)
print(8 in test_tuple)

True
True

8.Write a Python program to count the number of occurrences of an element in a tuple

In [47]:
tups = (10, 4, 5, 6, 8, 4, 5, 6, 4, 5, 3,2)
x=4
count = 0
for i in tups:  
    if i==x:
        count = count +1
print(count)

3

In [36]:
def Occ_num(tups,x): # x is the occurance of tuple values
    count = 0
    for i in tups: # tups values given to i 
        if i==x:   # if i equal to x
            count = count +1
    return count
            
tups = (10, 4, 5, 6, 8, 4, 5, 6, 4, 5, 3,2)
x = 4
x1= 6
print(f'the 4 occurrences :{Occ_num(tups,x)}')
print(f'the 6 occurrences :{Occ_num(tups,x1)}')

the 4 occurrences :3
the 6 occurrences :2

9.Write a Python program to slice a tuple

In [15]:
mytuple = ("Python Programming")
print(mytuple[:3])
print(mytuple[6:])
print(mytuple[::-1])
tuplename = ("Ridham")
print(tuplename[0])
print(tuplename[1])
print(tuplename[2])
print(tuplename[3])
print(tuplename[4])

Pyt
 Programming
gnimmargorP nohtyP
R
i
d
h
a

10.Write a Python program to unpack a tuple into multiple variables.

In [ ]:
# values into a new tuple while in unpacking we extract those values into a single variable
# assign value from right side to left side

In [38]:
a = ("veltechcollege","2023","cse_department")
college_name,batch,department=a
print(college_name)
print(batch)
print(department)

veltechcollege
2023
cse_department