# append

In [1]:
currencies = ['Dollar', 'Euro', 'Pound']
currencies.append('Yen')
currencies

['Dollar', 'Euro', 'Pound', 'Yen']

In [2]:
animals = ['cat', 'dog', 'rabbit']
animals.append("guinea pig")
animals

['cat', 'dog', 'rabbit', 'guinea pig']

In [3]:
a=[10,20.2,'Data science']
a.append(30)
a

[10, 20.2, 'Data science', 30]

In [6]:
score=[200,300,400]
score.append(400.6)
score

[200, 300, 400, 400.6]

In [8]:
months = ['January', 'February', 'March']
months.append('April')
months

['January', 'February', 'March', 'April']

In [11]:
city = 'Delhi'
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.append(city)
cities

['Mumbai', 'London', 'Paris', 'New York', 'Delhi']

In [12]:
otherCities = ['Delhi','Chennai']
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.append(otherCities)
cities

['Mumbai', 'London', 'Paris', 'New York', ['Delhi', 'Chennai']]

# Extend

In [7]:
animals = ['cat', 'dog', 'rabbit']
wild_animals = ['tiger', 'fox']
animals.extend(wild_animals)
animals

['cat', 'dog', 'rabbit', 'tiger', 'fox']

In [9]:
x = [1, 2, 3]
x.extend([4,5,'kavi'])
x

[1, 2, 3, 4, 5, 'kavi']

In [10]:
gradeScience = [4,3,9,10] 
gradeArt = [9,11,7,5]
gradeArt.extend(gradeScience)
gradeArt

[9, 11, 7, 5, 4, 3, 9, 10]

In [13]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
newCities = ['Delhi', 'Chicago']
cities.extend(newCities)
cities

['Mumbai', 'London', 'Paris', 'New York', 'Delhi', 'Chicago']

In [16]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.extend(['Delhi','Chicago'])
cities

['Mumbai', 'London', 'Paris', 'New York', 'Delhi', 'Chicago']

In [1]:
gradeScience = [4,3,9,10] 
gradeScience.extend([11,13])
gradeScience

[4, 3, 9, 10, 11, 13]

In [18]:
bigcities = ['Washington DC', 'Banglore']
favcities = ['Paris', 'New York']
bigcities.extend([favcities])
bigcities

['Washington DC', 'Banglore', ['Paris', 'New York']]

# Insert

In [29]:
mycities = {'Delhi','Chennai'}
favcities = ('Hyderabad','Bangalore')
worldcities = ['Mumbai', 'London', 'New York']
worldcities.insert(1,mycities)
worldcities.insert(3,favcities)
worldcities

['Mumbai',
 {'Chennai', 'Delhi'},
 'London',
 ('Hyderabad', 'Bangalore'),
 'New York']

In [21]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.insert(0,'New Delhi')
cities

['New Delhi', 'Mumbai', 'London', 'Paris', 'New York']

In [22]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.insert(2,'Chicago')
cities

['Mumbai', 'London', 'Chicago', 'Paris', 'New York']

In [30]:
names = ['kevin','john','petter','tony','luke','andrew']
new_name = 'enow'
names.insert(3,new_name)
names

['kevin', 'john', 'petter', 'enow', 'tony', 'luke', 'andrew']

In [34]:
vowel = ['a', 'e', 'i', 'u']
vowel.insert(3,"o")
vowel

['a', 'e', 'i', 'o', 'u']

In [35]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.insert(4,11)
prime_numbers

[2, 3, 5, 7, 11]

# clear

In [38]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.clear()
cities

[]

In [45]:
randomList = ['Mumbai', 1, (1, 2, 3)]
randomList.clear()
randomList

[]

In [39]:
prime_numbers = [2, 3, 5, 7, 9, 11]
prime_numbers.clear()
prime_numbers

[]

# delete

In [42]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]
del list[:]
list

[]

In [43]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]
del list[2]
list

[{1, 2}, 'a']

# count

In [48]:
city = 'Mumbai'
cities = ['Mumbai', 'London', 'Paris', 'New York','Mumbai']
num = cities.count(city)
num

2

In [2]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.count(9)

2

In [3]:
list1 = [ ('Cat', 'Bat'), ('Sat', 'Cat'), ('Cat', 'Bat'),
          ('Cat', 'Bat', 'Sat'), [1, 2], [1, 2, 3], [1, 2] ]
list1.count([1, 2])

2

In [5]:
lst = ['Cat', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']
lst.count('Cat')

3

# index

In [8]:
animals = ['cat', 'dog', 'rabbit', 'horse']
animals.index('dog')

1

In [9]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u']
vowels.index('e')

1

# pop

In [10]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.pop()

'New York'

In [11]:
cities

['Mumbai', 'London', 'Paris']

In [12]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.pop(1)

'London'

# COPY - return shadow copy of the lists

In [2]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x=fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

In [3]:
prime_numbers = [2, 3, 5]
num = prime_numbers.copy()
num

[2, 3, 5]

In [4]:
my_list = ['cat', 0, 6.7]
new_list = my_list.copy()
new_list

['cat', 0, 6.7]

In [7]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
fav_cities = cities.copy()
print("copied file:",fav_cities)
print("original file:",cities)

copied file: ['Mumbai', 'London', 'Paris', 'New York']
original file: ['Mumbai', 'London', 'Paris', 'New York']

# remove

In [9]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
fruits

['apple', 'cherry']

In [10]:
list1 = [ 1, 2, 1, 1, 4, 5 ]
list1.remove(1)
list1

[2, 1, 1, 4, 5]

In [15]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.remove('Mumbai')
cities

['London', 'Paris', 'New York']

In [16]:
numbers = [1, 2, 3, 4, 5, 6]
numbers.remove(5)
numbers

[1, 2, 3, 4, 6]

# Reverse

In [18]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

In [19]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.reverse()
prime_numbers

[7, 5, 3, 2]

In [20]:
cities = ['Mumbai', 'London', 'Chicago', 'Paris', 'New York']
cities.reverse()
cities

['New York', 'Paris', 'Chicago', 'London', 'Mumbai']

# sort

In [25]:
nums = [1, 5, 3, 4, 2, 10, 6, 8, 7, 9]
nums.sort()
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
al = ['a','d','e','c','b']
al.sort()
al

['a', 'b', 'c', 'd', 'e']

In [27]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.sort()
cities

['London', 'Mumbai', 'New York', 'Paris']

In [28]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.sort(reverse = True)
cities

['Paris', 'New York', 'Mumbai', 'London']