# capitalize

In [1]:
txt = "hello, and welcome to my world."
txt.capitalize()

'Hello, and welcome to my world.'

In [2]:
txt = "python is FUN!"
txt.capitalize()

'Python is fun!'

In [3]:
text = 'geeKs For geEkS'
text.capitalize()

'Geeks for geeks'

In [4]:
sentence = "i love PYTHON"
sentence.capitalize()

'I love python'

# count

In [7]:
string = "geeks for geeks"
string.count('geeks')

2

In [8]:
txt = "I love apples, apple are my favorite fruit"
txt.count("apples")

1

In [9]:
str = "Hello Javatpoint"
str.count("t")

2

In [10]:
message = 'python is popular programming language'
message.count("p")

4

In [12]:
string = "Python is awesome, isn't it?"
string.count('i',8,26)

2

## replace

In [13]:
string = "grrks FOR grrks"
string.replace('r','e')

'geeks FOR geeks'

In [14]:
text = 'bat ball'
text.replace('ba','ro')

'rot roll'

In [20]:
song = 'cold, cold heart'
song.replace('o','e')

'celd, celd heart'

# startswith

In [25]:
txt = "Hello, welcome to my world."
txt.startswith('welcome',7,20)

True

In [30]:
text = "geeks for geeks."
text.startswith("for geeks",6,15)

True

# Endwith

In [34]:
txt = "Hello, welcome to my world."
txt.endswith('.')

True

In [43]:
message = 'Python is fun'
message.endswith('fun')

True

In [44]:
text = 'geeks for geeks'
text.endswith('s')

True

In [45]:
message = 'Python is fun'
message.endswith('thon',2,6)

True

# isalpha

In [47]:
name = "Monica"
name.isalpha()

True

In [48]:
string = 'Ayush0212'
string.isalpha()

False

# isalnum

In [49]:
name1 = "Python3"
name1.isalnum()

True

# isdecimal

In [50]:
s = "32ladk3"
s.isdecimal()

False

In [51]:
s = "32"
s.isdecimal()

True

In [52]:
s = "32.8"
s.isdecimal()

False

# title

In [55]:
text = 'My favorite number is 25.'
text.title()

'My Favorite Number Is 25.'

In [56]:
text = "He's an engineer, isn't he?"
text.title()

"He'S An Engineer, Isn'T He?"

# find

In [58]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")
x

7

In [59]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

# index

In [60]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [61]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

# Math Operation in String

In [2]:
value1 = 'ab'
value = 'AB'
print(value1> value)

True

In [3]:
value1 = 'hat'
value = 'Hat'
print(value1> value)

True

In [4]:
value1 = 'hat'
value = 'Hat'
print(value1< value)

False

## split

In [5]:
txt = "welcome to the jungle"
txt.split()

['welcome', 'to', 'the', 'jungle']

In [6]:
cars = 'BMW-Telsa-Range Rover'
cars.split()

['BMW-Telsa-Range', 'Rover']

In [7]:
text = "hello, my name is Peter, I am 26 years old"
text.split()

['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']

In [12]:
a = 'I worked in microsoft for 1.5, years'
b= a.split(',')
print(b)

['I worked in microsoft for 1.5', ' years']

In [10]:
text= 'Love thy neighbor'
text.split()

['Love', 'thy', 'neighbor']

In [11]:
grocery = 'Milk, Chicken, Bread'
grocery.split(',')

['Milk', ' Chicken', ' Bread']

In [13]:
a = 'I.am.live.india'
b= a.split('.',2)
print(b)

['I', 'am', 'live.india']

In [21]:
str = "Apple.Banana.Grapes.Apple"
str = str.split('.',2)
str

['Apple', 'Banana', 'Grapes.Apple']

In [36]:
a = "I am from India and living in the year is"
d = a.split()
print(d)

['I', 'am', 'from', 'India', 'and', 'living', 'in', 'the', 'year', 'is']

In [48]:
d.append('1991')
print(d)

['I', 'am', 'from', 'India', 'and', 'living', 'in', 'the', 'year', 'is', '1991', '1991']

In [49]:
d.pop(10)
d

['I',
 'am',
 'from',
 'India',
 'and',
 'living',
 'in',
 'the',
 'year',
 'is',
 '1991']

# Join

In [45]:
sol = ' '.join(d)
print(sol)

I am from India and living in the year is 1991

In [51]:
list1 = ['g', 'e', 'e', 'k', 's']
list = "@ ".join(list1)
list

'g@ e@ e@ k@ s'

In [52]:
list1 = ('1', '2', '3', '4')
l = "-".join(list1)
l

'1-2-3-4'

In [79]:
value ='I.love.programming.language'
values = value.split(".")
d=values[::-1]
sols = ".".join(d)
sols

'language.programming.love.I'