## Tuple

In [2]:
var = ("Geeks", "for", "Geeks")
print(type(var))

<class 'tuple'>

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

# index

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-2])

banana

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:6])

('cherry', 'orange', 'kiwi', 'melon')

In [5]:
mytuple = (1, 2, 3, 4, 5)
mytuple[2]

3

# count

In [6]:
mytuple = (1, 2, 3, 4, 2, 3)
mytuple.count(2)

2

In [7]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)
my_tuple.count('p')

2

# SET

In [8]:
# randomly allocated
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [9]:
# duplicate not allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [10]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

<class 'set'>

# add

In [11]:
people = {"Jay", "Idrish", "Archi"}
people.add("Daxit")
people

{'Archi', 'Daxit', 'Idrish', 'Jay'}

In [17]:
month={"January","February", "March", "April", "May", "June"}
month.add("november")
month

{'April', 'February', 'January', 'June', 'March', 'May', 'november'}

month={"January","February", "March", "April", "May", "June"}
month.update('9')
month

In [26]:
numbers = {21, 34, 54, 12}
numbers.add(24)
numbers

{12, 21, 24, 34, 54}

# update

In [28]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']
companies.update(tech_companies)
companies

{'Lacoste', 'Ralph Lauren', 'apple', 'google'}

# union

In [12]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
print(people.union(vampires))

{'Idrish', 'Archil', 'Karan', 'Jay', 'Arjun'}

# Intersection

In [13]:
set1 = {4,5,6,7,43,42}
set2 = {3,6,7,43,21,10}
print(set2.intersection(set1))

{43, 6, 7}

# DELETE

In [21]:
# delete
 # discard
    
month={"January","February", "March", "April", "May", "June"}
month.discard('july')
month

{'April', 'February', 'January', 'June', 'March', 'May'}

In [29]:
languages = {'Swift', 'Java', 'Python'}
languages.remove('Python')
languages

{'Java', 'Swift'}

In [22]:
month={"January","February", "March", "April", "May", "June"}
month.discard('May')
month

{'April', 'February', 'January', 'June', 'March'}

In [24]:
month={"January","February", "March", "April", "May", "June"}
month.remove('March')
month

{'April', 'February', 'January', 'June', 'May'}

In [25]:
month={"January","February", "March", "April", "May", "June"}
month.pop()
month

{'April', 'February', 'January', 'June', 'May'}

# Dictionary

In [30]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}
print(Employee)

{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

In [31]:
person={'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna',
'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
person.keys()

dict_keys(['fname', 'lname', 'age', 'spouse', 'children', 'pets'])

In [32]:
person={'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna',
'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
person.values()

dict_values(['Joe', 'Fonebone', 51, 'Edna', ['Ralph', 'Betty', 'Joey'], {'dog': 'Fido', 'cat': 'Sox'}])

In [ ]:
# get
# to get a single value

In [35]:
person['fname']

'Joe'

In [36]:
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

In [2]:
person.get('children')

['Ralph', 'Betty', 'Joey']

In [3]:
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

# update

In [19]:
# 2 type of method
person.update({'chocolate':('dairymilk','kit-kat')})
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'},
 'color': ('blue', 'red', 'yellow'),
 'chocolate': ('dairymilk', 'kit-kat')}

In [23]:
person={'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna',
'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
person['color']=('blue','red','yellow')
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'},
 'color': ('blue', 'red', 'yellow')}

# pop

In [24]:
# pop,pop items
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'},
 'color': ('blue', 'red', 'yellow')}

In [26]:
person.pop('color')
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [27]:
person.popitem()
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey']}

# normal delete

In [34]:
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey']}

In [40]:
del person['age']

In [41]:
person

{'fname': 'Joe', 'lname': 'Fonebone', 'children': ['Ralph', 'Betty', 'Joey']}

# copy

In [32]:
persons=person.copy()
persons

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey']}

In [31]:
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey']}